* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Share Tech Mono', monospace;
    /*ellipse at center , */
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000 35%);
}

.clock {
    margin: 10rem;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

}

.date {

    letter-spacing: 0.1rem;
    font-size: 50px;

}

.time {

    letter-spacing: 0.05rem;
    font-size: 90px;
    padding: 1rem 23rem;
}

.ampm {
    letter-spacing: 0.05rem;
    font-size: 30px;
    margin: 0 0 0 -22rem;
}

.text {
    letter-spacing: 0.01rem;
    font-size: 20px;
    padding: 20px 0 0;
}